$background_black: #0C0E11;
$background_dark: #191A1E;
$background_dark_light: #2C2E33;
$stroke_one: #23262A;
$gray: #858892;
$white: #ffffff;
$green: #74CD7A;
$purple: #8864F0;
$buttons_normal: #FACC61;
$buttons_hover: #FFDE92;
$buttons_click: #E9B232;
$buttons_disabled: #232529;
$disabled: #41444A;
$stroke_two: #2D3034;
$orange: #FF7A00;
$red: #F34949;
$redError: #FF5858;
$greenBg: rgba(116, 205, 122, 0.15);
$purpleBg: rgba(136, 100, 240, 0.15);
$yellowBg: rgba(250, 204, 97, 0.15);
